* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behaviour: smooth;
}

:root {
  --background: #FEFEFE;
  --white: #FEFEFE;
  --blue-1: #1D3D50;
  --blue-2: #5090AC;
  --grey: #D9D9D9;
  --yellow: #F9C74B;
}